.main_finder_container {
    width: 100%;
    position: relative;
    border-top: 2px solid lightgray;
    .finder_input{
        // border: 2px solid black;
        position: relative;
        height: 200px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        .finder_input_container{
            // border: 2px solid limegreen;
            margin-top: 20px;
            position: relative;
            height: 200px;
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;

            .finder_text_one {
                color: #572700;
                // font-weight: bold;
                font-family: 'Kreon', serif;
                letter-spacing: 2px;
                font-size: 46px;
                text-align: center;
            }
            .input_n_bttn{
                // border: 2px solid pink;
                height: 70px;
                width: 60%;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                display: block;
                input {
                    height: 46px;
                    width: 228px;
                    position: absolute;
                    top: 15px;
                    left: calc(50% - 134px);
                    }
                .search_bttn {
                    height: 47px;
                    width: 41px;
                    background: #f58024;
                    border-radius: 2px;
                    position: absolute;
                    top: 15px;
                    left: calc(50% + 104px);
                    img{
                        margin-top: 14px;
                        margin-left: 9px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .finder_text_two{
        color: #572700;
        font-family: 'Kreon', serif;
        letter-spacing: 1px;
        font-size: 15px;
        text-align: center;
    }
    .finder_map{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        // border: 2px solid lightgrey;
        .finder_map_container{
            // border: 2px solid black;
            max-width: 80%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            display: block;
            .finder_locations{
                color: #572700;
                font-family: 'Kreon', serif;
                letter-spacing: 1px;
                font-size: 17px;
                padding-left: 15px;
                padding-bottom: 0;
                @media(min-width: 800px){
                    color: #f58024;
                    padding-bottom: 5px;
                }
            }
            .map {
                max-width: 100%;
                overflow: hidden;
                // padding: 5px 15px 35px 15px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                @media(min-width: 800px){
                    padding-top: 20px;
                    border-top: 1px solid #f58024;
                }
            }
        }
    }
    .finder_order{
        width: 100%;
        margin-top: 50px;
        background: #d6e8f7;
        img {
            width: 900px;
            padding: 0;
            margin-left: calc(50% - 450px);
            @media(max-width: 950px){
                width: 600px;
                margin-left: calc(50% - 300px);
            }
            @media(max-width: 605px){
                width: 400px;
                margin-left: calc(50% - 200px);
            }
            @media(max-width: 380px){
                width: 200px;
                margin-left: calc(50% - 100px);
            };
        }
    }
}