.mobile_nav {
    width: 100%;
    height: 8vh;
    // background: gray;
    // display: flex;
    // justify-content: space-around;
    position: relative;
    border-bottom: 1.5px solid lightgray;
    @media(min-width: 650px){
        display: none;
    }
    
        .main_title {
            padding-top: 5px;
            padding-left: 12px;
            height: 47px;
            width: 135px;
            position: abolute;
            top: 5px;
            left: 10px;
            // border: 2px solid black;
        };
        .location_icon {
            height: 55px;
            width: 80px;
            position: absolute;
            right: 160px;
            padding: 0px 0px 0px 30px;
        };
        .mobile_order_bttn {
            padding: 0;
            height: 57px;
            width: 100px;
            background: #ef5d21;
            // border: 2px solid black;
            position: absolute;
            right: 60px;
            top: 0px;
            text-align: center;

            .bttn_text {
                position: absolute;
                font-size: 12px;
                line-height: 16px;
                top: 13px;
                left: 22px;
                color: white;
                font-family: 'Krona One', sans-serif;
                font-weight: bold;
                
                
            }
        }
        .hamburger{
                padding: 10px 8px 5px 4px;
                height: 50px;
                width: 50px;
                position: absolute;
                right: 5px;
            }

}

.mobile_menu_dropdown {
    height: 517px;
    // border: 2px solid black;
    width: 100%;
    position: absolute;
    top: -517px;
    font-family: 'Kreon', serif;
    font-size: 26px;
    word-spacing: 2px;
    z-index: 5;
    // transition: all 0.2s;
    background: white;

    .home_site_search {
        height: 54px;
        border: 2px solid #ccc;
        color: lightgray;
        margin-top: 40px;
        margin-left: 22px;
        padding-left: 31px;
        width: 297px;
    }
    .home_site_search_bttn {
        position: absolute;
        top: 41px;
        right: 20px;
        height: 50px;
        width: 43px;
        background: #f58024;
        border-radius: 3px;
        img {
            height: 25px;
            margin: 12px 7px;
        }
    }
    .home_menu {
        margin-top: 35px;
        width: 100%;
        height: 95px;
        background: #C60C46;
        position: relative;
        .home_dropmenu_words{
            color: white;
            position: absolute;
            top: 30px;
            left: 30px;
        }
        img{
            position: absolute;
            top: 26px;
            right: 15px;
        }
    }
    .home_blend {
        width: 100%;
        height: 95px;
        background: #FFC425;
        position: relative;
        .home_dropmenu_words{
            color: white;
            position: absolute;
            top: 30px;
            left: 30px;
        }
        img{
            position: absolute;
            top: 26px;
            right: 15px;
        }
    }
    .home_more {
        width: 100%;
        height: 95px;
        background: #BED600;
        position: relative;
        .home_dropmenu_words{
            color: white;
            position: absolute;
            top: 30px;
            left: 30px;
        }
        img{
            position: absolute;
            top: 26px;
            right: 15px;
        }
    }
    .home_insider {
        width: 100%;
        height: 95px;
        background: #4aa942;
        position: relative;
        .home_dropmenu_words{
            color: white;
            position: absolute;
            top: 30px;
            left: 30px;
        }
    }
}

.desktop_nav{
    width: 100%;
    height: 73px;
    // display: none;
    position: relative;
    border-bottom: 0.5px solid #dbd5d3;
    @media(max-width: 650px){
        display:none;
    }
        .main_title{
            height: 55px;
            position: absolute;
            top: 10px;
            left: 15px;
            cursor: pointer;
        }
        .menu_options_desktop{
            width: 46%;
            height: 20px;
            // border: 2px solid hotpink;
            position: absolute;
            bottom: 11px;
            right: 102px;
                ul{
                    display: flex;
                    justify-content: space-around;
                    font-family: 'Kreon', serif;
                    font-size: 14px;
                    font-weight: bold;
                    .menu{
                        height: 31.5px;
                        color:#C60C46;
                        cursor: pointer;
                    }
                    .menu:hover{
                        border-bottom: 1.5px solid #C60C46;
                    }
                    .blend {
                        height: 31.5px;
                        color: #FFC425;
                        cursor: pointer;
                    }
                    .blend:hover{
                        border-bottom: 1.5px solid #FFC425;
                    }
                    .more{
                        height: 31.5px;
                        color:#BED600;
                        cursor: pointer;
                    }
                    .more:hover{
                        border-bottom: 1.5px solid #BED600;
                    }
                    .finder{
                        height: 31.5px;
                        color:#4aa942;
                        cursor: pointer;
                    }
                    .finder:hover{
                        border-bottom: 1.5px solid #4aa942;
                    }
            }
        }
        .search_desktop{
            position: relative;
            position: absolute;
            top: 16px;
            right: 119px;
            input{
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 1px solid #ccc;
                font-size: 14px;
            }
            img{
                height: 12px;
                position: absolute;
                right: 4px;
                top: 2px;
                cursor: pointer;
            }
        }
        .order_bttn{
            height: 58px;
            width: 70px;
            background: #ef5d21;
            position: absolute;
            bottom: 0px;
            right: 32px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            cursor: pointer;
            p{
                color: white;
                position: absolute;
                top: 17px;
                left: 16px;
                font-family: 'Teko', sans-serif;
                letter-spacing: 0.5px;
                font-size: 17px;
                line-height: 13px;
            }
        }
       
}
    .desktop_dropdown{
                height: 125px;
                width: 100%;
                background:#c60c46;
                // border: 2px solid black;
                position: absolute;
                z-index: 110;
                top: -125px;
            
                
                .desktop_menu_dropdown{
                    // border: 2px solid white;
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    left: 25%;
                    display: flex;
                    justify-content: space-around;
                    li{
                        color: white;
                        font-family: 'Kreon', serif;
                        font-size: 15px;
                        font-weight: bold;
                        margin-top: 15px;
                        cursor: pointer;
                    }
                    li:hover{
                        border-bottom: 1px solid white;
                    }
                }

        }

.mobile_footer{
    background: #572700;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
        div{
            // border: 2px solid black;
            font-size: 15px;
            width: 180px;
            color: #dbd5d3;
            font-family: 'Kreon', serif;
            padding: 0 0 25px 0;
            line-height: 30px;
            letter-spacing: 0.5px;
           
            ul{
                li{
                    img {
                        padding: 0 10px 0 0;
                        // border: 2px solid red;
                    }
                }
            }
        }
        p {
            color: #FFC425;
            font-weight: bold;
            font-size: 19px;
            padding-bottom: 15px;
        }
           .rewards {
            line-height: 18px;
        }
        
    }
