.main_blended_section{
    position: relative;
    .filter_img{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        img{
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
    }
    .filter_img_two{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        img{
            width: 100%;
            height: 100%;
            opacity: 0.2;
        }
    }
    .filter_img_three{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        img{
            width: 100%;
            height: 100%;
            opacity: 0.1;
        }
    }
    
    .video_div{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        @media(max-width: 650px){
            background: url("./img/VideoStatic.jpg") center center / cover no-repeat;
        }

        .video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @media(min-aspect-ratio: 16/9){
                height: 300%;
                top: -100%;
            }
            @media(max-aspect-ratio: 16/9){
                width: 300%;
                left: -100%
            }
            @media(max-width: 650px){
                display: none;
            }
        }
    }
    .hero_img_mobile{
        position: relative;
        background-image: url("./img/TexturedBackground.jpg");
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media(min-width: 650px){
            display: none;
        }
        img{
                max-width: 100%;
                height: auto;
                max-height: 100%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
    }
    .hero_img_desktop{
        position: relative;
        background-image: url("./img/TexturedBackground.jpg");
        width: 100%;
        height: 740px;
        @media(max-width: 650px){
            display: none;
        }
            img{
                max-width: 100%;
                height: auto;
                max-height: 680px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
    }

    .middle_paragraph{
        // max-width: 45%;
        max-width: 375px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        max-height: 100%;
        margin-bottom: 200px;
        text-align: center;
        // border: 2px solid black;
        @media(max-width: 650px){
            max-width: 70%;
        }
         .main_blended_header{
            text-shadow: 0.3px 0.3px black;
            color: white;
            font-size: 65px;
            font-family: 'Cabin Sketch', cursive;
            font-weight: bold;
            line-height: 50px;
            font-style: italic;
         }
         .main_blended_header_two{
            text-shadow: 0.2px 0.2px black;
            color: white;
            font-size: 65px;
            font-family: 'Cabin Sketch', cursive;
            font-weight: bold;
            line-height: 50px;
            margin-bottom: 100px;
            margin-left: 110px;
            font-style: italic;
         }
        .blended_paragraph{
            word-spacing: 1.5px;
            text-shadow: 0.3px 0.3px black;
            color: white;
            font-size: 25px;
            font-family: 'Dosis', sans-serif;
            font-weight: bold;
            line-height: 32px;
        }
        img{
            max-width: 100%;
            height: auto;
            // border: 2px solid black;
            margin: 20px auto 30px auto;
            display: block;
        }
        #one{
                margin-bottom: 30px;
            }
        #two{
                margin-bottom: 30px;
            }
        // #three{
        //         // margin-bottom: 20px;
        //     }
        #four{
                margin-bottom: 30px;
            }       
    }
.harley_div{
    background-image: url("./img/TexturedBackground.jpg");
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 675px;
    border: 2px solid pink;
    .harley_line{
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
        margin-bottom: 35px;
        display: block;
        // border: 2px solid pink;
        img{
            width: 720px;
        }

    }
    .harley_container{
        width: 900px;
        left: calc(50% - 450px);
        position: absolute;
        bottom: -1px;
        // border: 2px solid black;
        display: flex;
        justify-content: space-around;
        .harley_img{
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0;
            // border: 2px solid black;
            width: 500px;
            img{
                max-width: 100%;
                height: auto;
                max-height: 350px;
                margin-bottom: 0;
                display: block;
                position: absolute;
                bottom: 0;
            }
        }

    }

    .blending_loves{
        width: 450px;
        height: 450px;
        // border: 2px solid black;
        bottom: -2px;
        h1{
            font-size: 42px;
            color: #572700;
            font-family: 'Cabin Sketch', cursive;
            font-weight: bold;
            margin-bottom: 20px;
            }
        p{
            font-size: 20px;
            color: #572700;
            font-family: 'Kreon', serif;
            width: 90%;
            line-height: 25px;
            }
        .harleys_video{
            position: absolute;
            right: 0px;
            bottom: 60px;
            // border: 2px solid gray;
            height: 136px;
            width: 260px;
            img{
                height: 136px;
                width: 260px;
            }
            h2{
                position:absolute;
                top: 15px;
                left: 30px;
                color: #572700;
                font-family: 'Kreon', serif;
                width: 82%;
                font-size: 16px;
                line-height: 20px;
                font-style: italic;
                font-weight: bold;
            }
            h3{
                position:absolute;
                bottom: 15px;
                left: 30px;
                color: #572700;
                font-family: 'Cabin Sketch', cursive;
                font-weight: bold;
                font-size: 21px;
            }
        }
    }
}


}