.main_blended_section{
    position: relative;
    .filter_img{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        img{
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
    }
    .filter_img_two{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        img{
            width: 100%;
            height: 100%;
            opacity: 0.2;
        }
    }
    .filter_img_three{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        img{
            width: 100%;
            height: 100%;
            opacity: 0.1;
        }
    }
    
    .video_div{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        @media(max-width: 650px){
            background: url("./img/VideoStatic.jpg") center center / cover no-repeat;
        }

        .video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @media(min-aspect-ratio: 16/9){
                height: 300%;
                top: -100%;
            }
            @media(max-aspect-ratio: 16/9){
                width: 300%;
                left: -100%
            }
            @media(max-width: 650px){
                display: none;
            }
        }
    }
    .hero_img_mobile{
        position: relative;
        background-image: url("./img/TexturedBackground.jpg");
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media(min-width: 650px){
            display: none;
        }
        img{
                max-width: 100%;
                height: auto;
                max-height: 100%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
    }
    .hero_img_desktop{
        position: relative;
        background-image: url("./img/TexturedBackground.jpg");
        width: 100%;
        height: 740px;
        @media(max-width: 650px){
            display: none;
        }
            img{
                max-width: 100%;
                height: auto;
                max-height: 680px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
    }

    .middle_paragraph{
        // max-width: 45%;
        max-width: 375px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        max-height: 100%;
        margin-bottom: 200px;
        text-align: center;
        // border: 2px solid black;
        @media(max-width: 650px){
            max-width: 70%;
        }
         .main_blended_header{
            text-shadow: 0.3px 0.3px black;
            color: white;
            font-size: 65px;
            font-family: 'Cabin Sketch', cursive;
            font-weight: bold;
            line-height: 50px;
            font-style: italic;
         }
         .main_blended_header_two{
            text-shadow: 0.2px 0.2px black;
            color: white;
            font-size: 65px;
            font-family: 'Cabin Sketch', cursive;
            font-weight: bold;
            line-height: 50px;
            margin-bottom: 100px;
            margin-left: 110px;
            font-style: italic;
         }
        .blended_paragraph{
            word-spacing: 1.5px;
            text-shadow: 0.3px 0.3px black;
            color: white;
            font-size: 25px;
            font-family: 'Dosis', sans-serif;
            font-weight: bold;
            line-height: 32px;
        }
        img{
            max-width: 100%;
            height: auto;
            // border: 2px solid black;
            margin: 20px auto 30px auto;
            display: block;
        }
        #one{
                margin-bottom: 30px;
            }
        #two{
                margin-bottom: 30px;
            }
        // #three{
        //         // margin-bottom: 20px;
        //     }
        #four{
                margin-bottom: 30px;
            }       
    }


}