.home_main_container{
    background: white;
    position: relative;
    // transition: all 0.2s;
    .summer_sweepstakes_img{
    // border: 2px solid black;
    width: 100%;
    background: #f8f8f8;
    border-bottom: 3px solid white;
    img{
        width: 100%;
    }
    .mobile{
        @media(min-width: 550px){
            display: none;
        }
    }
    .desktop{
        height: 60px;
        width: 100%;
        @media(max-width: 550px){
            display: none; 
        }
        @media(min-width: 934px){
            width: 950px;
            margin-left: calc(50% - 475px)
        }
    }
}

    .home_main_carousel {
    width: 100%;
    overflow: hidden;
    height: 500px;
    position: relative;
    @media(min-width: 550px){
        height: 390px;
    }
     @media(min-width: 900px){
        height: 500px;
    }
    @media(min-width: 1500px){
        height: 650px;
    }

        .mobile_carousel {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            width: 300%; // # of pics * 100
            height: 100%;
            top: 0;

            @media(min-width: 550px){
                display: none;
            }

                li {
                    padding: 0;
                    margin: 0;
                    width: 33.3333%; // 100/5
                    height: 100%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    

                    img {
                            border: none;
                            width: 100%;
                            height: 500px;
                            min-height: 100%;
                        }
            }
        }

        .desktop_carousel {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            width: 300%; // # of pics * 100
            height: 100%;
            top: 0;
            @media(max-width: 550px){
                display: none;
            }
             @media(min-width: 900px){
                height: 500px;
            }
            @media(min-width: 1500px){
                height: 650px;
            }


                li {
                    padding: 0;
                    margin: 0;
                    width: 33.3333%; // 100/5
                    height: 360px;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    @media(min-width: 900px){
                        height: 500px;
                    }
                    @media(min-width: 1500px){
                        height: 650px;
                    }
                                    // border: 2px solid black;
                    

                    img {
                            border: none;
                            width: 661px;
                            height: 360px;
                            // min-height: 100%;
                            position: absolute;
                            // top: calc(50% - 193px);
                            left: calc(50% - 330.5px);
                            @media(min-width: 900px){
                                height: 500px;
                                width: 925px;
                                left: calc(50% - 462.5px);
                            }
                            @media(min-width: 1500px){
                                height: 650px;
                                width: 1050px;
                                left: calc(50% - 525px);
                            }
                        }
            }
            #yellow{
                background: #ffd020;
            }
            #green{
                background: #55ad41;
            }
            #blue{
                background: #4fc2cd
            }
        }
    }
} 

#prev_mobile {
    overflow: hidden;
    width: 30px;
    height: 50px;
    // border: 2px solid black;
    top: 45%;
    left: 10px;
    position: absolute;
    cursor: pointer;
    .prev {
        position: absolute;
    }  
    @media(min-width: 550px){
        display: none;
    }
}
#next_mobile{
   overflow: hidden;
    width: 30px;
    height: 50px;
    // border: 2px solid black;
    top: 45%;
    right: 10px;
    position: absolute;
    cursor: pointer;

    .next{
        left: -29px;
        position: absolute;
    }
    @media(min-width: 550px){
        display: none;
    }
}

#prev_desktop {
    overflow: hidden;
    width: 29px;
    height: 50px;
    // border: 2px solid black;
    top: 45%;
    left: 15px;
    position: absolute;
    cursor: pointer;

    .prev {
     position: absolute;
     height: 33px;

     @media(max-width: 550px){
        display: none;
    }
 }
}
  
  #next_desktop{
   overflow: hidden;
    width: 29px;
    height: 50px;
    // border: 2px solid black;
    top: 45%;
    right: 15px;
    position: absolute;
    cursor: pointer;

    .next{
        left: -28px;
        position: absolute;
        height: 33px;
    }
    @media(max-width: 550px){
        display: none;
    }
}



img:hover, .home_main_carousel img:active {
opacity: 1.0;
}

.home_paragraph_one {
    color: #4aa942;
    width: 341px;
    height: 207px;
    text-align: center;
    margin-left: calc(50% - 170.5px);
    margin-top: 47px;
        @media(min-width: 550px){
            width: 515px;
            margin-top: 12px;
            margin-left: calc(50% - 256.5px);
            height: 103px;
        }
    
    .part_one{
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
        @media(min-width: 550px){
            font-size: 18px;
            line-height: 15px;
        }
    }
    .part_two{
        font-family: 'Teko', sans-serif;
        font-size: 40px;
        line-height: 37px;
        @media(min-width: 550px){
            font-size: 32px;
            line-height: 25px;
        }
    }
    #home_green_chevron {
        height: 20px;
        padding-top: 18px;
        @media(min-width: 550px){
            height: 10px;
        }
    }
}

.home_main_container{
    background: white;

    .home_food_carousel {
    width: 100%;
    overflow: hidden;
    height: 300px;
    position: relative;
    @media(min-width: 650px){
        display: none;
    }

            .food_prev {
                position: absolute;
                height: 40px;
                width: 70px;
            }  
            .food_next {
                position: absolute;
                height: 40px;
                width: 60px;
            } 

            #food_prev {
                overflow: hidden;
                width: 35px;
                height: 40px;
                // border: 2px solid black;
                top: 45%;
                left: 10px;
                position: absolute;
                cursor: pointer;
            }
            #food_next{
            overflow: hidden;
                width: 60px;
                height: 40px;
                // border: 2px solid black;
                top: 45%;
                right: -8px;
                position: absolute;
                cursor: pointer;
                .food_next{
                    left: -30px;
                    
                }
            }

            img:hover, .home_main_carousel img:active {
            opacity: 1.0;
            }
            .food_container {
                position: relative;
                width: 100%;
                

                .words_container{
                    // border: 2px solid black;
                    height: 162px;
                    width: 297px;
                    position: absolute;
                    top: 65px;
                    left: calc(50% - 148px);

                .meet{
                    color: white;
                    position: absolute;
                    top: 33%;
                    left: 45%;
                    font-family: 'Roboto Slab', serif;
                    font-weight: bold;
                    font-size: 17px;
                    
                }

                p {
                    position: absolute;
                    top: 75px;
                    // left: calc(50% - 13%);
                    left: 27%;
                    color: white;
                    // font-family: 'Reenie Beanie', cursive;
                    font-family: 'Cabin Sketch', cursive;
                    font-size: 51px;
                    font-weight: bold;

                }
                

                .white_line_left {
                        position: absolute;
                        top: 64px;
                        left: 76px;
                        border-top: 1px solid #fff;
                        width: 35px;
                        height: 5px;
                        // display: inline-block;
                        margin: 0 7px;
                        }
                .white_line_right {
                        position: absolute;
                        top: 64px;
                        right: 68px;
                        border-top: 1px solid #fff;
                        width: 35px;
                        height: 5px;
                        // display: inline-block;
                        margin: 0 7px;
                        }
                }   
            }


        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            width: 300%; // # of pics * 100
            height: 100%;
            top: 0;
            li {
                padding: 0;
                margin: 0;
                width: 33.3%; // 100/however many pics you have
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                bottom: 0;

                img {
                    border: none;
                    width: 100%;
                    height: 100%;
                    min-height: 100%;
                }
        }
    }
    }

        .desktop_view{
            position: relative;
            // border: 2px solid black;
            height: 200px;
            width: 100%;
            display: none;
            @media(min-width:650px){
                display: block;
            }
            @media(min-width: 1100px){
                height: 300px;
            }
            @media(min-width: 1500px){
                height:350px;
            }
            
             ul {
                position: relative;
                // flex-wrap: wrap;
                // border: 2px solid green;
                height: 200px;
                width: 100%;
                @media(min-width:650px){
                display: block;
                }
                @media(min-width: 1500px){
                    height:350px;
                }
            li {
                position: relative;
                width: 33.333%;
                float: left;
                

                img {
                    border: none;
                    height: 200px;
                    width: 100%;
                    // border: 2px solid black;
                    @media(min-width: 1100px){
                        height: 300px;
                    }
                    @media(min-width: 1500px){
                        height:350px;
                    }
                }
            .food_container {
                position: relative;
                width: 100%;
                // #food_container_one{
                //     background: url("./img/meet-carrots.jpg") center no-repeat;
                //     background-size: cover;
                // }

                .words_container{
                    // border: 2px solid black;
                    height: 162px;
                    width: 205px;
                    position: absolute;
                    top: calc(50% - 81px);
                    left: calc(50% - 102.5px);

                .meet{
                    color: white;
                    position: absolute;
                    top: 35%;
                    left: 41%;
                    font-family: 'Roboto Slab', serif;
                    font-weight: bold;
                    font-size: 13px;
                    
                }

                p {
                    position: absolute;
                    top: 75px;
                    // left: calc(50% - 13%);
                    left: 23%;
                    color: white;
                    // font-family: 'Reenie Beanie', cursive;
                    font-family: 'Cabin Sketch', cursive;
                    font-size: 40px;
                    font-weight: bold;

                }
                

                .white_line_left {
                        position: absolute;
                        top: 64px;
                        left: 32px;
                        border-top: 1px solid #fff;
                        width: 35px;
                        height: 5px;
                        // display: inline-block;
                        margin: 0 7px;
                        }
                .white_line_right {
                        position: absolute;
                        top: 64px;
                        right: 32px;
                        border-top: 1px solid #fff;
                        width: 35px;
                        height: 5px;
                        // display: inline-block;
                        margin: 0 7px;
                        }
                }   
            }
            
    }
             }
        }



.soccer {
    width: 100%; 
    height: 500px;
    position: relative;
    //   border: 2px solid black;
    background: url("./img/soccer_img.jpg") center no-repeat;
    background-size: cover;
    @media(min-width: 1100px){
        height: 527px;
    }
    @media(min-width: 1500px){
        height: 616px;
    }

    .soccer_div{
        height: 386px;
        width: 365px;
        position: absolute;
        top: -10px;
        left: calc(50% - 182.5px);
        // border: 2px solid black;
        @media(min-width: 550px){
          left: 10%;
      }
       @media(min-width: 1100px){
            height: 425px;
        }
        @media(min-width: 1500px){
            height: 500px;
        }
  .soccer_words{
      position: absolute;
      top: 60px;
      left: calc(50% - 39%);
      height: 150px;
  }
  .soccer_bttn {
      height: 34px;
      width: 256px;
      position: absolute;
      bottom: 55px;
      right: calc(50% - 33%);
      background-color: #c60c48;
      border-radius: 3px;
      text-align: center;
      cursor: pointer;
     
      
      .soccer_line_one {
          color: white;
          font-weight: bold;
          font-family: 'Teko', sans-serif;
          font-size: 19px;
          position: absolute;
          top: 10px;
          left: 41px;
      }
      .soccer_line_two {
          color: white;
          font-weight: bold;
          font-family: 'Roboto Slab', serif; 
          font-size: 13px;
          position: absolute;
          top: 11px;
          right: 94px;
      }
      .soccer_arrow {
          height: 25px; 
          position: absolute;
          top: 8px;
          right: 59px;
          img{
              height: 16px;
          }

      }

  }
    }
}

.paragraph_two {
    color: #c60c48;
    width: 100%;
    height: 150px;
    text-align: center;
    position: relative;
    .paragraph_two_words{
        // border: 1.5px solid green;
        width: 90%;
        height: 90px;
        position: absolute;
        top: calc(50% - 45px);
        left: 5%;
        #part_one{
            font-family: 'Cabin Sketch', cursive;
            font-size: 26px;
            font-weight: bold;
            word-spacing: -2px;
            margin-bottom: 10px;
            // font-family: 'Stalemate', cursive;
            @media(min-width: 550px){
                font-size: 22px;
            }
        }
        #part_two{
            // font-family: 'Amatic SC', cursive;
            font-family: 'Roboto Slab', serif;
            font-size: 32px;
            word-spacing: -1px;
            @media(min-width: 550px){
                font-size: 26px;
            }
        }
    }
}


.product_carousel {
    width: 100%;
    overflow: hidden;
    height: 450px;
    position: relative;
    // border: 2px solid black;
    @media(min-width: 549px){
        height: 200px;
        margin-top: -55px;
        }
    }

.product_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 900%; // # of pics * 100
    height: 100%;
    top: 0;
    @media(min-width: 549px){
            width: 300%;
        }
    @media(min-width: 796px){
            width: 225%;
        }
    }

.product_carousel li {
    padding: 0;
    margin: 0;
    width: 11.111111111111111%; // 100/number of pics
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    // border: 2px solid black;

    .img_words{
        position: absolute;
        height: 250px;
        width: 250px;
        top: calc(50% - 125px);
        left: calc(50% - 125px);
        // border: 1.5px solid green;

        .products_words{
            height: 25px;
            width: 266px;
            // border: 2px solid black;
            position: absolute;
            bottom: 21px;
            left: -1%;
            text-align: center;
            p {
                color: #572700;
                font-family: 'Kreon', serif;
                font-weight: bold;
                letter-spacing: 0.7px;
                font-size: 17px;
                @media(min-width: 549px){
                    font-size: 12px;
                }
                
            }
        }
    

        img {
            border: none;
            // width: 220px;
            width: 175px;
            // height: 500px;
            // min-height: 100%;
            // border: 2px solid black;
            position: absolute;
            top: calc(50% - 180px);
            left: calc(50% - 87px);
            @media(min-width: 549px){
                width: 95px;
                top: 50px;
                left: 82px;

            }
        }
}
}
}


 .product_prev {
     position: absolute;
     cursor: pointer;
     
 }  
 .product_next {
     position: absolute;
     cursor: pointer;
 } 

#product_prev {
    overflow: hidden;
    width: 30px;
    height: 50px;
    // border: 2px solid black;
    top: 45%;
    left: 10px;
    position: absolute;
    
}
#product_next{
   overflow: hidden;
    width: 30px;
    height: 50px;
    // border: 2px solid black;
    top: 45%;
    right: 10px;
    position: absolute;

    .product_next{
        left: -29px;
    }
}

img:hover, .home_main_carousel img:active {
opacity: 1.0;
}

.store_finder{
    // border: 2px solid black; 
    position: relative;
    @media(min-width: 549px){
        width: 50%;
        margin-top: 75px;
    }
    img{
        width: 100%;
        
    }
    .store_finder_words{
        // border: 2px solid white;
        position: absolute;
        height: 300px;
        width: 350px;
        top: calc(50% - 150px);
        left: calc(50% - 175px);
        .store_finder_text_one {
            color: white;
            letter-spacing: 3px;
            font-size: 46px;
            position: absolute;
            top: 79px;
            left: 12%;
            font-family: 'Teko', sans-serif;
            font-weight: bold;
        }
        .store_finder_text_two {
            color: white;
            position: absolute;
            top: 137px;
            left: 29%;
            font-size: 17px;
            font-family: 'Kreon', serif;
            font-weight: bold;
        }
        input {
            font-family: 'Kreon', serif;
            color: #b2b2b2;
            font-weight: bold;
            position: absolute;
            top: 183px;
            left: 14%;
            height: 39px;
            width: 203px;
        }
        .store_finder_go_bttn {
            cursor: pointer;
            background-color: #c1d72f;
            height: 39px;
            width: 54px;
            border-radius: 5px;
            position: absolute;
            right: 10%;
            top: 183px;
            color: white;
            font-weight: bold;
            font-family: 'Kreon', serif;
            text-align: center;
            vertical-align: middle;
            line-height: 39px;
        }
    }
}

.order_ahead img {
    // border: 2px solid black;
    width: 100%;
    @media(min-width: 549px){
            width: 50%;
            position: absolute;
            bottom: 3px;
            right: 0px;
        }
}

